body {
    background: rgb(255,254,111);
    background: radial-gradient(circle, rgba(255,254,111,1) 0%, rgba(255,254,0,1) 100%);
}

.piano {
      position: relative;
      margin: auto;
      top: 180px;
      width: 550px;
      height: 300px;
      background: rgb(0,0,0);
      background: linear-gradient(180deg, rgba(0,0,0,1) 41%, rgba(42,41,41,1) 100%);
      border-radius: 25px;
    
}

.container {
    text-align: center;
    position: relative;
    top: -50px;
}

.white-keys kbd {
    position: relative;
    background-color: white;
    display: inline-block;
    width: 60px;
    height: 200px;
    text-align: center;
    border: 1px solid gray;
    line-height: 350px;

}



.black-keys kbd {
    position: relative;
    display: inline-block;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 41%, rgba(42,41,41,1) 100%);
    margin-left: 12px;
    margin-top: -2px;
    height: 140px;
    width: 55px;
    top: -200px;
    border: 1px solid black;
    z-index: 1;
    color: white;
    line-height: 200px;
    text-align: center;
    
}

.black-keys  kbd + kbd {
    position: relative;
    margin-left: 15px;
    
}

#E_key + #T_key {
    margin-left: 47px;
}




